
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<div class="container"> 

    <div *ngIf="editedIngredientIndex !== null" class="editingNotification">
        <label>
          Editing Ingredient: {{ ingredientList[editedIngredientIndex].ingredientName }}
        </label>
      </div>
    <div >
        <label for="ingredientInput">Ingredient Name:</label>
        <!--<input type="email" placeholder="Email Address" required [(ngModel)]="loginEmail" name="loginEmail">-->
        <input type="text" placeholder="Banana" required [(ngModel)]="ingredientInput"  id="ingredientInput" name="ingredientInput" value="Banana">
        <br>

        <label for="quantityInput">Quantity:</label>
        <input type="number" placeholder="0" required [(ngModel)]="quantityInput" id="quantityInput" name="quantityInput" value="3">
        <!--drop down menu id="quantityType"-->
        <br>

        <label for="quantityType">Quantity Type:</label>
        <select required [(ngModel)]="quantityType" id="quantityType" name="quantityType">
            
            <option value="items">Items</option>
            <option value="oz">Oz</option>
            <option value="g">g</option>
            <option value="ml">mL</option>
            <option value="cup">cups</option>
        </select>
        <br> 

        <button class="addIngredientButton" (click)="addIngredient()">
            {{ editedIngredientIndex !== null ? 'Complete Edit' : 'Add Ingredient' }}
        </button>
        <div id="ingredientList" class = "ingredientTable">
            <table>
                <thead>
                  <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Quantity Type</th>
                    <th>Modify</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ingredient of ingredientList; let i = index">
                    <td>{{ ingredient.ingredientName }}</td>
                    <td>{{ ingredient.quantity }}</td>
                    <td>{{ ingredient.quantityType }}</td>
                    <td>
                        <button class="editIngredientButton" (click)="editIngredient(i)">
                            Edit
                        </button>
                        <button class="deleteIngredientButton" (click)="deleteIngredient(i)">
                            Delete
                        </button>
                    </td>
                  </tr>
                  <tr class="emptyRow">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>

        <button class="generateRecipesButton" (click)="generateRecipes()">
          Generate Recipes
        </button>
      </div>
  
</div>
