<div class="auth-container">
    <div class="auth-logo">
    <img class = "logo" src="../../assets/img/logoImage.png" alt="logo">
    </div>
    <div class="auth-toggle">
        <button (click)  = "toggleViewLogin()" [style.color]="isShowLogin ? 'grey' : '#5EA5F8'" class="auth-section">Login</button>
        <button (click)  = "toggleViewRegister()" [style.color]="isShowRegister ? 'grey' : '#5EA5F8'" class="auth-section">Register</button>
    </div>
    <div [hidden] = "isShowLogin" >
        <form  class="auth-form">
            <input type="email" placeholder="Email Address" required [(ngModel)]="loginEmail" name="loginEmail">
            <input type="password" placeholder="Password" required [(ngModel)]="loginPassword" name = "loginPassword">
            <div class="auth-remember">
              <input type="checkbox" id="rememberMe">
              <label for="rememberMe">Remember password</label>
              <a href="#">Forget password</a>
            </div>
            <button (click)="login()" type="submit">Login</button>
          </form>
    </div>
    <div [hidden] = "isShowRegister">
        <form class="auth-form">
            <input type="email" placeholder="Email Address" required [(ngModel)]="signUpEmail" name="signUpEmail"> 
            <input type="password" placeholder="Password" required [(ngModel)]="signUpPassword" name="singUpPassword">
            <input type="password" placeholder="Confirm Password" required [(ngModel)]="confirmPassword" name="confirmPassword">
            <button (click)="signUp()" type="submit">Sign Up</button>
          </form>
    </div> 
        <p>By signing in you are agreeing our <a href="#">Term and privacy policy</a></p>
    </div>
      
