<!DOCTYPE html>
    <body>
        <div class="dialogContent">
            <button class="closeButton" mat-button (click)="dialogRef.close()">X
                <img>
            </button>
            <p>Enter your email address below. If it's valid, we'll send you a link to reset your email</p>
            <label for="emailInput">Email Address: </label>
            
            <!--<input type="email" placeholder="Email Address" required [(ngModel)]="loginEmail" name="loginEmail">-->
            <input class="emailInput" type="text" placeholder="someone@example.com" required [(ngModel)]="emailInput" #emailInputField>
            <br>
            <button (click)="submit()">Submit</button>
            <!--
            <div *ngIf="!isValidEmail(emailInputField.value)">
                <p>Email is not valid</p>
            </div>
            -->