<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<div class="container" >
  <div class="header">
    <button class="fas fa-stopwatch fa-lg" (click)="timer()"></button>
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
  <div class="search-feature">
    <img
      class="search-feature-picture"
      src="../../assets/img/homePage-search-bar-image.png"
      alt="Search Feature"
    />
    <input type="text" placeholder="Search Ingredients" class="search-bar" />
  </div>
  <div class="function-buttons">
    <button class="scan-ingredient-feature" (click)="camera()">
      <i class="fas fa-camera camera-icon"></i>
      <span class="scan-ingredient-feature-p">Scan Ingredient</span>
    </button>

    <button class="saved-recipes-feature">
      <i class="fas fa-book-medical recipebook-icon"></i>
      <span class="saved-recipes-feature-p">Saved Recipes</span>
    </button>
  </div>

  

  
  <div class="random-picture-feature">
    <button (click)="addIngredient()">
      <img
      class="search-feature-picture"
      src="../../assets/img/homePage-random-meal-image.png"
      alt="Search Feature"
      />
    </button>
  </div>
</div>
